.container{
    max-width: 1100px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.btn_top{
    padding: 10px 50px;
    display: flex;
    justify-content: flex-end;
}
.btn_top button{
    height: 40px;
    width: 100px;
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    
}
.btn_top button:hover{
    background: black;
    color: white;
}
.loading{
    font-size: 50px;
}
