.master{
    border: 2px solid black;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    margin: 20px;
}
.title{
    height: 50px;
    padding: 10px 10px 0px;
    font-size:1.4rem;
    width: 240px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.divider{
    border-bottom: 2px solid black;
}
.empty{
    height: 145px;
    padding:30px 20px 0px 20px
}
.centering{
    display: grid;
    place-items: center;
}
.adding_sign{
    height: 60px;
    width: 60px;
    background: #ced1d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    font-size: 50px;
    padding-bottom: 8px;
}
.adding_sign:hover{
    background: grey;
    color: white;

}
.body{
    height:120px ;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    
    text-overflow:ellipsis;
}
.btn_div{
    display: flex;
    justify-content: flex-end;
    
}
.btn_div button i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: grey;
    cursor: pointer;

}
.btn_div button{
    background:transparent;
    border: none;
}
